<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
  <body>
  	<h1>List of games</h1>
    {% for game in games %}
        <b>{{ game.name }} ({{ game.birthdate }})</b>
      	<form action="/" method="post">
      		<input type="hidden" name="id" value="{{ game.key.urlsafe }}">
      		<input type="submit" value="Show detail">
      	</form>
      	<blockquote>{{ game.description }}</blockquote>
  	<hr>
    {% endfor %}
    
    {% if games.count == 0 %}
    	<b>Sorry, no games yet</b>
	{% endif %}
	<hr>
	
	<form action="/createGame" method="post">
		Name: <input type="text" name="name"><br>
		Description:<br> 
		<textarea name="description" rows="3" cols="60">Your description</textarea><br>
		Private<input type="checkbox" name="private"><br>
		<input type="submit" value="Create">
	</form>    
  </body>
</html>